In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('deaths-illicit-drugs NEW.csv')
print(df.shape)
print(df.columns)
df.head()

(6960, 5)
Index(['COUNTRY', 'Code', 'Year',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths that are from all causes attributed to drug use, in both sexes aged all ages'],
      dtype='object')

,COUNTRY,Code,Year,Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),"Deaths that are from all causes attributed to drug use, in both sexes aged all ages"
0,American Samoa,ASM,1990,0,13.090.138
1,Andorra,AND,1990,0,20.659.685
2,Antigua and Barbuda,ATG,1990,0,6.584.844
3,Bahamas,BHS,1990,0,39.783.647
4,Barbados,BRB,1990,0,26.759.732

In [3]:
df.Code.value_counts()

Code
0           810
ASM          30
LBY          30
CZE          30
HND          30
           ...
TGO          30
ALB          30
ARM          30
BEN          30
OWID_WRL     30
Name: count, Length: 206, dtype: int64